{% extends "base.html" %}

{% block title %}
  About Us
{% endblock title %}

{% block content %}
<section class="about-us-section-page">
    <div class="about-us-title">
        <div class="about-us-text">
            <h1 data-aos="fade">About Ocean Drill</h1>
            <p data-aos="fade-up" data-aos-delay="500">We bring a personal and effective approach to every project we work on.</p>
        </div>
    </div>
    <div class="who-we-are-container" data-aos="fade">
        <h1 id="who-we-are-title" data-aos="fade" data-aos-delay="500"><span id="ocean-drill-title">Ocean Drill,</span>Who We Are?</h1>
        <p id="who-we-are-paragraph" data-aos="fade" data-aos-delay="600">Ocean Drill Limited is recognized as one of the most leading and reliable multi disciplinary drilling contractors in INDIA and Kenya. The company has been offering best solutions for all kinds of water related issues. Our highly experienced drilling operators and dedicated technical personnel are integral part of the company who has perfection in bore well drilling.</p>
    </div>
    <div class="exprience-spec-container">
        <div class="experience-container"  data-aos="fade-right">
            <h1 data-aos="fade" data-aos-delay="500">Experience</h1>
            <p data-aos="fade" data-aos-delay="600">We are having twenty five years of drilling industry experience in executing various water resources projects. We are specialized in borehole drilling, Borehole equipping, casing supply and installation; borehole consultant and maintenance services, pump testing, groundwater exploration and other related services.. Our company offers services for various fields, residential, industrial, commercial, apartments. agriculture, construction, institutions & all govt. approved projects.

                We always set high standards, apply state-of-the art technology, and continue to innovate and improve. We thrive on tough challenges and accomplish them with ease.</p>
        </div>
        <div class="specialized-container" data-aos="fade-left">
            <h1  data-aos="fade" data-aos-delay="500">Specialized</h1>
            <p data-aos="fade" data-aos-delay="600">We also have specialization in bore well cleaning and installation of pumps, keeping the customer preference at our priority. All the cutting-edge technologies and machines are preferred to provide excellent services to our valued customers across the country. If you are searching an expert bore well drilling contractor, our company has great reputation in this field and bore well drilling for various dimensions with depth ranging from 150 to 1500 feet. Furthermore, we offer after sales service complying with customer convenience and preference.</p>
        </div>
    </div>
    <div class="quality-container" data-aos="fade-up">
        <h1  data-aos="fade" data-aos-delay="500">Quality</h1>
        <p data-aos="fade" data-aos-delay="600">We offer and deliver quality water well drilling services to our valued customers. Quality also means that we carry out the work efficiently and complete it on time. We pledge to continuously innovate and upgrade in order to maintain industry standards.</p>
    </div>
    <div class="mission-vision-coantainer">
        <div class="mission-container" data-aos="fade-left">
            <h1 data-aos="fade" data-aos-delay="500">Our Mission</h1>
            <p data-aos="fade" data-aos-delay="600">Our mission is to provide our clients with the highest quality drilling services at an affordable price, build client relations on mutual respect and integrity, offer customized professional services based on client requirements, improve our skills and upgrade our machinery, develop new capabilities and adapt technological innovations to meet the emerging challenges and changing needs.</p>
        </div>
        <div class="vission-conatainer" data-aos="fade-right">
            <h1 data-aos="fade" data-aos-delay="500">Our Vision</h1>
            <p data-aos="fade" data-aos-delay="600">Our vision it to become one of the premier drilling companies in South Indian market and sustain that position through continuous technological up-gradation and customer centric services. By blending global perspectives with native values, we would like to contribute to a better quality of life for generations to come.</p>
        </div>
    </div>
    <div class="staff-contanier">
        <h1 id="our-team" data-aos="fade-up">Our Team</h1>
        <div class="staff" data-aos="fade-up" data-aos-delay="400">
            <img src="/oceandrill/static/img/shohban.jpeg" alt="" id="profil-pic">
            <h2>Shobhan</h2>
            <p>CEO</p>
        </div>
        <div class="staff" data-aos="fade-up" data-aos-delay="500">
            <img src="/oceandrill/static/img/ilam.jpeg" alt="" id="profil-pic">
            <h2>Ilam</h2>
            <p>Director</p>
        </div>
        <div class="staff" data-aos="fade-up" data-aos-delay="600">
            <img src="/oceandrill/static/img/walter.jpeg" alt="" id="profil-pic">
            <h2>Walter</h2>
            <p>Head Operation Manager</p>
        </div>
        <div class="staff" data-aos="fade-up" data-aos-delay="700">
            <img src="/oceandrill/static/img/hassan.jpeg" alt="" id="profil-pic">
            <h2>Hassan</h2>
            <p>Warehouse Manager</p>
        </div>
    </div>
    <div class="cutomer-feedback-contanier">
        <h1 class="customer-feedback-title" data-aos="fade-up">What Out Clients Say</h1>
        <div class="feedback-wrapper">
            <div class="feedback" data-aos="fade-right">
                <p>"Fast and experienced workers and delivers in time."</p>
                <h2>~Suresh Patel</h2>
            </div>
            <div class="feedback" data-aos="fade-up">
                <p>"Well equipped with the finest delivery."</p>
                <h2>~Puyanh</h2>
            </div>
            <div class="feedback" data-aos="fade-left">
                <p>"Customer friendly workers and prompt"</p>
                <h2>~Anna Zuckerberg</h2>
            </div>
        </div>

    </div>
</section>
{% endblock content %}