{% extends "base.html" %}

{% block title %}
  Faq
{% endblock title %}

{% block content %}
  <div class="faq-header">
    <h1 data-aos="fade">Do You Have Questions</h1>
    <p data-aos="fade-up">We always deliver the absolute best.</p>
  </div>

  <div class="faq" data-aos="fade-left">
    <div onclick="toggleInfo('info1')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt="" ><h2>How deep must a borehole be?</h2>  <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info1" class="info">
      <p> Boreholes in Kenya are dug according to the hydrogeological survey which estimates the depth of a borehole. Water Drilling companies usually dig the borehole according to the recommended depth from the hydro geologists however can dig further upon a request from the client.</p>

    </div>
  
  </div>

  <div class="faq" data-aos="fade-left" data-aos-duration="1500">
    <div onclick="toggleInfo('info2')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>How long does it take to drill a borehole?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info2" class="info">
      <p> A borehole is dependent on many factors, the distance and accessibility to the site, the geology of the landscape and any complications that might arise on the site. Our drilling teams are well versed with many terrains and can deliver in a timely manner. The most typical time for the drilling and equipping of a borehole is a week but can be less or more depending on the above factors.</p>
    </div>
  </div>
  <div class="faq" data-aos="fade-left" data-aos-duration="1500">
    <div onclick="toggleInfo('info3')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>Plastic Casing or steel Casing, which is better?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info3" class="info">
      <p> As a client there are two types of casings available, plastic casing and a steel casing. Water Drilling requires that the borehole uses one material and cannot mix the two materials. Each have their advantages and their drawbacks. Plastic casing while cheaper, lighter and rust proof is also brittle and can break; the casing is usually used for depths less than 100 meters. On the other hand steel is quite strong and rigid and can go for large depths however this just like household piping can rust over time, this should be noted that it takes a while for this to happen, roughly about 75 years.</p>
    </div>
  </div>
  <div class="faq" data-aos="fade-left" data-aos-duration="1500">
    <div onclick="toggleInfo('info4')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>What distinguishes Water Drilling Companies in Kenya?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info4" class="info">
      <p> There are various factors that demonstrate a good drilling company. These are type of machinery that is being used; the experience of the team and the number of boreholes sank. These give an indication of the professionalism and quality of the work that is done. A Borehole is a lifetime investment it is essential to choose the right company to deliver the standards that you deserve.
        At Oceandrill (EA) Ltd., we treat each borehole like our first with a lot of care and attention, this ensures that you have a quality product for generations to come.</p>
    </div>
  </div>
  <div class="faq" data-aos="fade-left" data-aos-duration="1500">
    <div onclick="toggleInfo('info5')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>How long will a borehole last?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info5" class="info">
      <p>A good constructed Borehole can last for generations to generations. There are however some boreholes which require rehabilitation to ensure that they are in good working order. In Kenya we have successfully rehabilitated many Boreholes and tested the water content to ensure that the water was clean and safe for use. Many of our boreholes have been used for commercial or domestic use without any problems.
      </p>
    </div>
  </div>
  <div class="faq" data-aos="fade-left" data-aos-duration="1500">
    <div onclick="toggleInfo('info6')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>What happens when the Borehole turns out to be dry?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info6" class="info">
      <p> In some occasions Boreholes can turn out to be dry owing to a variety of reasons such as seasonality changes. The water table is entirely reliant on nature; there is no guarantee that there will be water. We recommend the best hydro-geologists in the market who can give you a better chance of finding water, we have a high success rate and have drilled over 300 boreholes successfully..</p>
    </div>
  </div>
  <div class="faq" data-aos="fade-left" data-aos-duration="1500">
    <div onclick="toggleInfo('info7')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>Which regions do you drill boreholes in Kenya?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info7" class="info">
      <p> We are very mobile and have dug boreholes in almost each region in Kenya. We have served various communities and done some good work for NGOs in Kenya. In addition to this we have worked with government agencies, county governments and institutions.
        As a Water drilling company in Kenya we have not limited ourselves to institutions we have done a lot of boreholes for people who want clean, secure and reliable water regardless of the region.</p>
    </div>
  </div>
  <div class="faq" data-aos="fade-left" data-aos-duration="1500" >
    <div onclick="toggleInfo('info8')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>What is required of me?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info8" class="info">
      <p> • Borehole license from the Ministry of Water
        • Nema Report
        • Geological / Hydrological Survey done by a Registered Geologist.
        • Authorization from Water Resource Management Authority ( WRMA )
        In case you do not already have these documents, kindly talk to us and we will guide you in acquiring them.</p>
    </div>
  </div>
  <div class="faq" data-aos="fade-left" data-aos-duration="1500">
    <div onclick="toggleInfo('info9')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>What is a hydro-geological report?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info9" class="info">
      <p> This is a report from the geologist that gives the accuracy of the depth of the water and best site to drill a borehole.</p>
    </div>
  </div>
  <div class="faq" data-aos="fade-left" data-aos-duration="1500">
    <div onclick="toggleInfo('info10')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>Why do I need a NEMA report?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info10" class="info">
      <p> After drilling the borehole and doing test pumping, OceanDrill (EA) Ltd., will take a water sample to the government laboratory for testing. The test results in a water analysis report that indicates whether or not the water is safe for domestic/industrial consumption.</p>
    </div>
  </div>
  <div class="faq" data-aos="fade-left" data-aos-duration="1500">
    <div onclick="toggleInfo('info11')" class="faq-title"><img src="/oceandrill/static/img/question cirle.svg" alt=""><h2>Why do I need water analysis report?</h2> <img src="/oceandrill/static/img/dropdown.svg" alt="" class="dropdown-icon"></div>
    <div id="info11" class="info">
      <p> After drilling the borehole and doing test pumping, OceanDrill (EA) Ltd., will take a water sample to the government laboratory for testing. The test results in a water analysis report that indicates whether or not the water is safe for domestic/industrial consumption.</p>
    </div>
  </div>
  <div class="contact-us-wrapper" data-aos="fade-up">
    <h1 data-aos="fade" data-aos-delay="500">We are interested in hearing from you. <br> Write about your primary interest right now!</h1>
    <a href="/contact-us/" id="contact-us" data-aos="fade-up" data-aos-delay="600">Contact Us</a>
  </div>
	<script>
		function toggleInfo(id) {
			var info = document.getElementById(id);
			if (info.style.display === "none" || info.style.display === "") {
				info.style.display = "block";
			} 
      else if (info.style.display === "block") {
        info.style.display = "none";
      }
      else {
				info.style.display = "none";
			}
		}
	</script>
{% endblock content %}