{% extends "base.html" %}
{% block title %}
 Ocean Drill
{% endblock title %}

{% block content %}
<!-- --------------------------------------------------------------------------------home page contaienr------------------------------------------------------------ -->
  <section class="home-page-container">
    <div class="center-title" >
     <h1 data-aos="fade-up"><span id="ocean" >Ocean</span> <span id="drill"> Drill</span></h1>
     <p data-aos="fade" data-aos-delay="600">Leading Drilling Company.</p>
     <a href="/contact-us/" id="get-quote-btt" data-aos="fade-up">Get Quote</a>
    </div>
  </section>

<!-- --------------------------------------------------------------------------------about us container------------------------------------------------------------ -->
<section class="about-us-section">
  <div class="about-us-description">
    <h1 data-aos="fade-up">Welcome To <span>Ocean Drill (EA) Ltd</span></h1>
    <p data-aos="fade" data-aos-delay="500">Ocean Drill (EA) Ltd., is recognized as one of the most leading and reliable multi disciplinary bore-well drilling contractors in India and Kenya, and we are expanding our operations all over the world.

      The company has been offering best solutions for all kinds of water related problems. Our highly experienced drilling operators and dedicated technical personnel are integral part of the company who has perfection in bore well drilling</p>
      <a href="/what-we-do/" id="learn-more-btt" data-aos="fade-up" data-aos-delay="500" data-aos-duration="15 00">What We Offer</a>
  </div>
  <img src="/oceandrill/static/img/oceandrillworkers.jpeg" alt="" data-aos="fade-left" data-aos-delay="600">
</section>
<!-- -------------------------------------------------------------------------------------why us section------------------------------------------------------------------- -->
<section class="why-container">
  <h1 id="why-ocean-drill" data-aos="fade">Why Ocean Drill</h1>
  <div class="container-wrapper">
    <div class="container" data-aos="fade-up" data-aos-delay="500">
      <img src="/oceandrill/static/img/undraw_services_re_hu5n.svg" alt="star logo">
      <h2>Quality of service</h2>
      <p>We carry out the work efficiently and complete it on time. We pledge to continuously innovate and upgrade in order to maintain industry standards.</p>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="600">
      <img src="/oceandrill/static/img/undraw_pilates_ftsd.svg" alt="thumb logo">
      <h2>Flexibility</h2>
      <p>We work closely with our valued customers, who hail from diverse geographical and cultural backgrounds. We hold our client`s beliefs and values system in high esteem.</p>

    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="700">
      <img src="/oceandrill/static/img/undraw_random_thoughts_re_cob6.svg" alt="hands logo">
      <h2>Simplicity</h2>
      <p>Uncompromising integrity, honesty, fairness and respect are at the heart of our company. Mutual respect is a guiding principle irrespective of client`s background and culture.</p>
  
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="800">
      <img src="/oceandrill/static/img/undraw_education_f8ru.svg" alt="graduation logo">
      <h2>Sustainability</h2>
      <p>The long- term benefit that our business provides is not just restricted to the company alone but also for the customers and the larger society</p>
    
    </div>
  </div>

  <a href="/about-us/" id="see-more" data-aos="fade">Learn More</a>
</section>
<section class="numbers">
  <h1 id="numbers-title" data-aos="fade-up">Ocean Drill New Edge of the Drilling Experience!</h1>
  <div class="numbers-wrapper">
    <div class="number" data-aos="fade-left" data-aos-delay="500">
      <h1>600+</h1>
      <p>Projects</p>
    </div>
    <div class="number" data-aos="fade-left" data-aos-delay="600">
      <h1>60+</h1>
      <p>Experienced Workers</p>
    </div>
    <div class="number"  data-aos="fade-right" data-aos-delay="700">
      <h1>5+</h1>
      <p>Drilling Machines</p>
    </div>
    <div class="number"  data-aos="fade-right" data-aos-delay="800">
      <h1>25+</h1>
      <p>Projects</p>
    </div>
  </div>
</section>
<section class="our-work-section">
  <h1 id="our-work-title" data-aos="fade-up">Our Latest Works</h1>

  <div class="coursel-wrapper" data-aos="fade-up" data-aos-delay="500">
    <section id="main-carousel" class="splide" aria-label="My Awesome Gallery" >
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img src="/oceandrill/static/img/work 1.jpeg" alt="project 1">
          </li>
          <li class="splide__slide">
            <img src="/oceandrill/static/img/work 2.jpeg" alt="project 2">
          </li>
          <li class="splide__slide">
            <img src="/oceandrill/static/img/work 3.jpeg" alt="project 3">
          </li>
          <li class="splide__slide">
            <img src="/oceandrill/static/img/work 4.jpeg" alt="project 4">
          </li>

          <li class="splide__slide">
            <img src="/oceandrill/static/img/work 7.jpeg" alt="project 5">
          </li>
          <li class="splide__slide">
            <img src="/oceandrill/static/img/work 13.jpeg" alt="project 5">
          </li>
        </ul>
      </div>
    </section>
    
    <ul id="thumbnails" class="thumbnails">
      <li class="thumbnail">
        <img src="/oceandrill/static/img/work 1.jpeg" alt="project 1">
      </li>
      <li class="thumbnail">
        <img src="/oceandrill/static/img/work 2.jpeg" alt="project 2">
      </li>
      <li class="thumbnail">
        <img src="/oceandrill/static/img/work 3.jpeg" alt="project 3">
      </li>
      <li class="thumbnail">
        <img src="/oceandrill/static/img/work 4.jpeg" alt="project 4">
      </li>
      <li class="thumbnail">
        <img src="/oceandrill/static/img/work 7.jpeg" alt="project 5">
      </li>
      <li class="thumbnail">
        <img src="/oceandrill/static/img/work 13.jpeg" alt="project 6">
      </li>
    </ul>
  </section>
  <a href="/our-work/" id="find-more" data-aos="fade">View Gallery</a>
  </div>
  <!-- -----------------------------------------------------------------------------------contact us section --------------------------------------------------------- -->
  <div class="contact-us-wrapper" data-aos="fade-up">
    <h1 data-aos="fade" data-aos-delay="500">We are interested in hearing from you. <br> Write about your primary interest right now!</h1>
    <a href="/contact-us/" id="contact-us" data-aos="fade-up" data-aos-delay="600">Contact Us</a>
  </div>

<!-- --------------------------------------------------------------------------------scripts------------------------------------------------------------ -->
<script>
  var splide = new Splide( '#main-carousel', {
    pagination: false,
  } );
  
  
  var thumbnails = document.getElementsByClassName( 'thumbnail' );
  var current;
  
  
  for ( var i = 0; i < thumbnails.length; i++ ) {
    initThumbnail( thumbnails[ i ], i );
  }
  
  
  function initThumbnail( thumbnail, index ) {
    thumbnail.addEventListener( 'click', function () {
      splide.go( index );
    } );
  }
  
  
  splide.on( 'mounted move', function () {
    var thumbnail = thumbnails[ splide.index ];
  
  
    if ( thumbnail ) {
      if ( current ) {
        current.classList.remove( 'is-active' );
      }
  
  
      thumbnail.classList.add( 'is-active' );
      current = thumbnail;
    }
  } );
  
  
  splide.mount();
  </script>

{% endblock content %}