{% extends "base.html" %}

{% block title %}
  What We Do
{% endblock title %}

{% block content %}
  <div class="what-we-do-title">
    <div class="what-we-do-text">
      <h1 data-aos="fade">What Do We Do?</h1>
      <p data-aos="fade-up" data-aos-delay="500">We add a personal touch to every project with the fast delivery.</p>
    </div>

  </div>
  <div class="service" id="service-1">
    <img src="/oceandrill/static/img/undergroundwater.jpg" alt="Underground Water Finding" data-aos="fade-right">
    <div class="service-description" >
      <h1 data-aos="fade-up">Underground Water Finding</h1>
      <p data-aos="fade" data-aos-delay="500">Water in aquifers` collects from rainfall and dissolved snowfall, filtered through the ground. As water goes down, it is consumed by trees, plants and evaporated by the heat of sun. The rest progresses to store at ground water level steadily to add quantity to the aquifer. This is based on hydraulic model. The quantity differs at different positions and land use as per the geological investigation.

        Our technical team will visit the site along with hydro-geologists to identify the best place to carry out the drilling process.</p>
    </div>
  </div>
  <div class="service" id="service-2">
    <img src="/oceandrill/static/img/work5.jpg" alt="Bore Hole Drilling" data-aos="fade-left">
    <div class="service-description">
      <h1 data-aos="fade-up">Bore Hole Drilling</h1>
      <p data-aos="fade" data-aos-delay="500">The drilling is carried out by using the “Down-The-Hole” (DTH) technology. This system works by using high compressed air built within our drilling rig. The size of the hole can vary depending on the requirement of the client.

        As the drilling process continuous, geological rock samples are taken at 2 meter intervals. Struck and water rest levels are constantly recorded. This process enables us to estimate the yield of individual aquifers encountered</p>
    </div>
  </div>
  <div class="service" id="service-3">
    <img src="/oceandrill/static/img/casing.jpeg" alt="Casing" data-aos="fade-right">
    <div class="service-description">
      <h1 data-aos="fade-up">Casing</h1>
      <p data-aos="fade" data-aos-delay="500">Once the borehole has been drilled, it must be lined with either steel or UPVC casing. The casing process keeps the well open and protects the earth, similar to the efforts to protect groundwater. The hard metal casing shores up the well bore and verticality is maintained, assuring the long-term integrity of the well from end-to-end. In addition to providing stabilization and keeping the sides of the well from caving in on themselves, casing protects the well stream.</p>
    </div>
  </div>
  <div class="service" id="service-4">
    <img src="/oceandrill/static/img/work6.jpg" alt="" data-aos="fade-left">
    <div class="service-description" >
      <h1 data-aos="fade-up">Bore Hole Development</h1>
      <p data-aos="fade" data-aos-delay="500">Once the screen, pack, seals and back-fill have been installed, the well is developed. This development aims at repairing the damage done to the aquifer during the course of drilling by removing clay and other additives from the borehole. This also alters the physical characteristics of aquifer around the screen and removes fine particles.</p>
    </div>
  </div>
  <div class="contact-us-wrapper" data-aos="fade-up">
    <h1 data-aos="fade" data-aos-delay="500">We are interested in hearing from you. <br> Write about your primary interest right now!</h1>
    <a href="/contact-us/" id="contact-us" data-aos="fade-up" data-aos-delay="600">Contact Us</a>
  </div>
 
{% endblock content %}

